* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

/* header styles */
#spotify-logo {
    width: 200px;
}

.page {
    display: none;
}

/* login styles */
button#login {
    font-size: 25px;
    color: white;
    padding: 15px 20px 15px 20px;
    background-color: #1ED760;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

body, html {
    height: 100%;
    font-family: Montserrat, Helvetica;
}

h1{
    position: relative;
    top: 50%;
    font-size: 32px;
    font-weight: normal;
}

p{
    position: relative;
    top: 55.5%;
    font-size: 15px;
}

#title {
    font-size: 40px;
}

#login-page{
    background: url(../img/spotify.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: normal;
    text-align: center;
}
/* preset select styles */
.preset {
    width: 150px;
    height: 150px;
    display: inline-block;
    cursor: pointer;
}

.preset#party {
    background: url(../img/presets/party.png);
    background-size: 150px 150px;
}

.preset#study {
    background: url(../img/presets/study.png);
    background-size: 150px 150px;
}

.preset p {
    color: white;
    text-align: center;
    padding-top: 57px;
    font-size: 25px;
}

/* build button styles */
button#build {
    font-size: 25px;
    color: white;
    padding: 15px 20px 15px 20px;
    background-color: #1ED760;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
